@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins.scss";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_normalize.scss";
@import "../../bower_components/sass-mq/mq";
@import "../../bower_components/animate-sass/_animate.scss";
@import "../../bower_components/fontawesome/scss/font-awesome.scss";

@import 'compass';
@import 'compass/reset';
@import 'compass/css3/flexbox'; 

@import 'settings';

body {
	-webkit-backface-visibility: hidden; // Addresses a small issue in webkit: http://bit.ly/NEdoDq
}
.animated {
	@include animate-prefixer(animation-duration, $base-duration);
	@include animate-prefixer(animation-fill-mode, both);


	&.hinge {
		@include animate-prefixer(animation-duration, $base-duration * 2);
	}
}


/* #Default
================================================== */

html {
  	position: relative;
  	min-height: 100%;
  	/* killing 300ms touch delay in IE */
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

html, body { 
	margin:0;
	height: 100%;
}

body {
	background: $color-light $bg-st;
	/* Margin bottom by footer height */
  	margin-bottom: 60px;
  	font-family: $font-nd;
  	color: $color-dark;
}

a, a:hover {
	color: inherit;
	text-decoration: none;
}

strong {
	font-weight: 700;
}

i {
	font-style: italic;
}

img {
	width: 100%; 
	max-width: 100%;
}



/* #Headings 
====================================================*/

h1, h2, h3, h4 {

}


/* #Links
====================================================*/

.btn {

}


/* #Form
====================================================*/

input[type="text"]{

}

form {}


/* #PIE
================================================== */

$pie-path: "PIE.htc";

%pie {
    behavior: url($pie-path);
}



/* #Border-box
====================================================*/

// We switch our box model to Border Box.
// From Paul Irish
*, *:before, *:after {
  @include box-sizing('border-box');
}



/* #Placeholder Color
====================================================*/

::-webkit-input-placeholder {
   color: inherit;
}

:-moz-placeholder { /* Firefox 18- */
   color: inherit;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: inherit;  
}

:-ms-input-placeholder {  
   color: inherit;  
}


/* #Placeholder & Mixins
================================================== */

%transition {
	@include transition($transition);
}

.transition,
.transition:hover,
.transition a,
.transition a:hover,
.transition img,
.transition img:hover,
.transition div,
.transition div:hover
.transition li,
.transition li:hover
.transition li a,
.transition li a:hover,
.transition a:after,
.transition a:hover:after,
.transition:before,
.transition:hover:before
{
	@extend %transition;
}

%title {
	font-family: $font-st;
	text-transform: uppercase;
	font-weight: 300;
}